<div class="card position-relative m-2 frag-card">
    <div class="card-body">
        <span>
            <%= link_to fragrance.name, edit_fragrance_path(fragrance) %>
        </span>
        <p class="card-text small-font-size"><%= fragrance.description %></p>
    </div>
</div>
