#title {
   font-size: 3em;
   color: #ff6600;
}

#main-component {
   width: 65%;
   margin: 0 auto;
   background-color: #f6f6ef;
   padding-left: 1em;
   max-width: 1000px;
   border-radius: 2em;
}

.frag-card {
   width: 10rem;
   min-height: 6rem;
   border-radius: 2em;
}

.frag-card-box {
   column-gap: 30px; 
   padding-left: 25px;
   padding-right: 25px;
}

.small-font-size {
   font-size: .75em;
}